[submodule "imported-module"]
	path = imported-module
	url = ./imported-module
[submodule "second-imported-module"]
	path = second-imported-module
	url = https://github.com/chandudammalapati/second-imported-module.git
